In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
dataset.drop("User ID",axis=1)

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [7]:
dataset['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [9]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [10]:
indep=dataset[['Age', 'EstimatedSalary', 'Gender_Male']]
dep=dataset[['Purchased']]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=0.3,random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
param_grid={
    'n_estimators':[10,20,30,40],
    'max_features':['auto', 'sqrt', 'log2'],
    'criterion':['gini', 'entropy', 'log_loss']
}
grid=GridSearchCV(RandomForestClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(x_train,y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
60 fits failed out of a total of 180.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
60 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 450, in fit
    trees = Parallel(
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\joblib\parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\joblib\parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\joblib\parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\joblib\parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\joblib\parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.87443101 0.88598338 0.87507717 0.87834329 0.87829824 0.88204638
 0.87468373 0.8891728  0.85999033 0.87131601 0.88932553 0.87468682
 0.87866149 0.87806949 0.8895923  0.88225435 0.87115579 0.87876116
 0.88224081 0.87874686 0.86378059 0.87489059 0.87506895 0.88191886
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan]
  warnings.warn(
C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 20, 30, 40]},
             scoring='f1_weighted', verbose=3)

In [20]:
print("Best parameter {}".format(grid.best_params_))

Best parameter {'criterion': 'entropy', 'max_features': 'auto', 'n_estimators': 30}

In [22]:
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.020732,0.007762,0.004754,0.003850,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.852966,0.821429,0.859435,0.892857,0.945469,0.874431,0.042145,20
1,0.050463,0.011696,0.007904,0.002848,gini,auto,20,"{'criterion': 'gini', 'max_features': 'auto', ...",0.874254,0.857143,0.823129,0.911105,0.964286,0.885983,0.048337,4
2,0.075814,0.009304,0.008829,0.001461,gini,auto,30,"{'criterion': 'gini', 'max_features': 'auto', ...",0.874254,0.821429,0.823129,0.911105,0.945469,0.875077,0.048643,15
3,0.104388,0.013007,0.010296,0.001586,gini,auto,40,"{'criterion': 'gini', 'max_features': 'auto', ...",0.874254,0.819142,0.841398,0.929144,0.927778,0.878343,0.044522,12
4,0.021147,0.011013,0.003305,0.001616,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.855314,0.857143,0.859435,0.892857,0.926743,0.878298,0.027894,13
5,0.056970,0.007441,0.007684,0.000886,gini,sqrt,20,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.874254,0.875644,0.840114,0.911105,0.909115,0.882046,0.026219,7
6,0.084888,0.010809,0.007922,0.000954,gini,sqrt,30,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.874254,0.858503,0.841398,0.911105,0.888158,0.874684,0.023992,19
7,0.097852,0.006614,0.009970,0.001785,gini,sqrt,40,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.874254,0.819142,0.859435,0.929144,0.963889,0.889173,0.051364,3
8,0.038174,0.003039,0.004750,0.001223,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.874254,0.819142,0.804584,0.892857,0.909115,0.859990,0.041074,24
9,0.058011,0.009877,0.007054,0.001942,gini,log2,20,"{'criterion': 'gini', 'max_features': 'log2', ...",0.874254,0.821429,0.821429,0.911692,0.927778,0.871316,0.044282,21
10,0.085791,0.010727,0.013544,0.005360,gini,log2,30,"{'criterion': 'gini', 'max_features': 'log2', ...",0.874254,0.838326,0.859435,0.929144,0.945469,0.889326,0.041132,2
11,0.115803,0.016322,0.011050,0.001280,gini,log2,40,"{'criterion': 'gini', 'max_features': 'log2', ...",0.855314,0.857143,0.823129,0.911105,0.926743,0.874687,0.038412,18
12,0.033889,0.005337,0.003617,0.001591,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.874254,0.838326,0.823129,0.875548,0.982051,0.878661,0.055550,11
13,0.077719,0.016880,0.007682,0.002536,entropy,auto,20,"{'criterion': 'entropy', 'max_features': 'auto...",0.874254,0.875644,0.859435,0.892857,0.888158,0.878069,0.011732,14
14,0.088960,0.013925,0.010600,0.002659,entropy,auto,30,"{'criterion': 'entropy', 'max_features': 'auto...",0.891485,0.858503,0.841398,0.911105,0.945469,0.889592,0.037089,1
15,0.120716,0.019992,0.011996,0.005359,entropy,auto,40,"{'criterion': 'entropy', 'max_features': 'auto...",0.874254,0.857143,0.823129,0.892857,0.963889,0.882254,0.046834,5
16,0.033105,0.005424,0.004204,0.001166,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.855314,0.838326,0.823129,0.892857,0.946153,0.871156,0.044115,22
17,0.060869,0.012071,0.005497,0.000864,entropy,sqrt,20,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.874254,0.821429,0.823129,0.911105,0.963889,0.878761,0.054213,9
18,0.073873,0.003401,0.007337,0.001429,entropy,sqrt,30,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.855314,0.893878,0.823129,0.911105,0.927778,0.882241,0.038109,6
19,0.105371,0.017428,0.008952,0.001647,entropy,sqrt,40,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.874254,0.858503,0.823129,0.911105,0.926743,0.878747,0.037078,10
20,0.036194,0.008820,0.004827,0.001221,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.855314,0.838326,0.823129,0.874356,0.927778,0.863781,0.036276,23
21,0.059278,0.007447,0.006313,0.003172,entropy,log2,20,"{'criterion': 'entropy', 'max_features': 'log2...",0.874254,0.857143,0.824293,0.911105,0.907658,0.874891,0.032437,17
22,0.080757,0.010106,0.011609,0.004805,entropy,log2,30,"{'criterion': 'entropy', 'max_features': 'log2...",0.874254,0.840114,0.823129,0.911105,0.926743,0.875069,0.039722,16
23,0.097993,0.017303,0.007418,0.006455,entropy,log2,40,"{'criterion': 'entropy', 'max_features': 'log2...",0.874254,0.857143,0.859435,0.911105,0.907658,0.881919,0.023206,8
24,0.018404,0.010699,0.000000,0.000000,log_loss,auto,10,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
25,0.023360,0.005377,0.000000,0.000000,log_loss,auto,20,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,26
26,0.026327,0.005501,0.000000,0.000000,log_loss,auto,30,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,27
27,0.035419,0.005533,0.000000,0.000000,log_loss,auto,40,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,28
28,0.015809,0.004674,0.000000,0.000000,log_loss,sqrt,10,"{'criterion': 'log_loss', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
29,0.019361,0.004299,0.000000,0.000000,log_loss,sqrt,20,"{'criterion': 'log_loss', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,30
30,0.026681,0.007008,0.000000,0.000000,log_loss,sqrt,30,"{'criterion': 'log_loss', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
31,0.036214,0.005498,0.000000,0.000000,log_loss,sqrt,40,"{'criterion': 'log_loss', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,32
32,0.010575,0.002438,0.000000,0.000000,log_loss,log2,10,"{'criterion': 'log_loss', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
33,0.017885,0.002666,0.000000,0.000000,log_loss,log2,20,"{'criterion': 'log_loss', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,34
34,0.023729,0.002621,0.000000,0.000000,log_loss,log2,30,"{'criterion': 'log_loss', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,35
35,0.019036,0.003219,0.000000,0.000000,log_loss,log2,40,"{'criterion': 'log_loss', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,36

In [23]:
y_pred=grid.predict(x_test)

In [24]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[73  6]
 [ 5 36]]

In [25]:
from sklearn.metrics import classification_report
cr=classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.94      0.92      0.93        79
           1       0.86      0.88      0.87        41

    accuracy                           0.91       120
   macro avg       0.90      0.90      0.90       120
weighted avg       0.91      0.91      0.91       120

In [27]:
from sklearn.metrics import roc_auc_score
roc=roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])
print(roc)

0.9612534732942266

In [31]:
result1=grid.predict([[46,41000,0]])
print(result1)

[1]

In [29]:
age=int(input("Enter age: "))
sal=float(input("Enter Salary: "))
gen=int(input("Enter gender: "))

Enter age: 46
Enter Salary: 41000
Enter gender: 0

In [33]:
result2=grid.predict([[age,sal,gen]])
print(result2)
print("Will they purchase? {}".format(result2))

[1]
Will they purchase? [1]