In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0,0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0,2,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3,0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0,0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0,0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset['classification_yes'].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [7]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [8]:
indep=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]

In [9]:
dep=dataset[['classification_yes']]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=0.3,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
param_grid={
    'n_neighbors':[3, 5, 7, 9, 11],
    'weights':['uniform','distance'],
    'algorithm':['auto','ball_tree','kd_tree','brute'],
    'p':[1, 2]    
}
grid=GridSearchCV(KNeighborsClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(x_train,y_train)

Fitting 5 folds for each of 80 candidates, totalling 400 fits

C:\Users\AH22634\AppData\Local\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
                         'n_neighbors': [3, 5, 7, 9, 11], 'p': [1, 2],
                         'weights': ['uniform', 'distance']},
             scoring='f1_weighted', verbose=3)

In [13]:
print("Best Parameter {}".format(grid.best_params_))

Best Parameter {'algorithm': 'auto', 'n_neighbors': 5, 'p': 1, 'weights': 'uniform'}

In [14]:
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_algorithm,param_n_neighbors,param_p,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.352654,0.440652,0.131146,0.133227,auto,3,1,uniform,"{'algorithm': 'auto', 'n_neighbors': 3, 'p': 1...",0.947015,0.982221,0.947015,0.982221,1.000000,0.971694,0.021171,9
1,0.294509,0.323093,0.173580,0.176358,auto,3,1,distance,"{'algorithm': 'auto', 'n_neighbors': 3, 'p': 1...",0.947015,0.982221,0.947015,0.982221,1.000000,0.971694,0.021171,9
2,0.100152,0.143298,0.057204,0.067339,auto,3,2,uniform,"{'algorithm': 'auto', 'n_neighbors': 3, 'p': 2...",0.964572,0.982221,0.929513,0.964572,1.000000,0.968176,0.023370,17
3,0.151767,0.141136,0.012319,0.004998,auto,3,2,distance,"{'algorithm': 'auto', 'n_neighbors': 3, 'p': 2...",0.964572,0.982221,0.929513,0.964572,1.000000,0.968176,0.023370,17
4,0.066453,0.092506,0.069443,0.049803,auto,5,1,uniform,"{'algorithm': 'auto', 'n_neighbors': 5, 'p': 1...",0.982221,0.982221,0.947015,0.982221,0.981894,0.975114,0.014050,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0.651401,0.676390,0.009135,0.007851,brute,9,2,distance,"{'algorithm': 'brute', 'n_neighbors': 9, 'p': ...",0.929513,0.912029,0.929513,0.964572,0.963912,0.939908,0.020870,65
76,0.206221,0.284890,0.036791,0.013376,brute,11,1,uniform,"{'algorithm': 'brute', 'n_neighbors': 11, 'p':...",0.982221,0.929513,0.929513,0.947015,0.946014,0.946855,0.019251,57
77,0.210978,0.195165,0.015170,0.007603,brute,11,1,distance,"{'algorithm': 'brute', 'n_neighbors': 11, 'p':...",0.982221,0.929513,0.929513,0.947015,0.946014,0.946855,0.019251,57
78,0.646619,0.423164,0.091377,0.158541,brute,11,2,uniform,"{'algorithm': 'brute', 'n_neighbors': 11, 'p':...",0.912029,0.894531,0.929513,0.964572,0.963912,0.932911,0.027871,77
79,0.415518,0.397115,0.149087,0.265505,brute,11,2,distance,"{'algorithm': 'brute', 'n_neighbors': 11, 'p':...",0.929513,0.894531,0.929513,0.964572,0.963912,0.936408,0.026071,73

In [15]:
y_pred=grid.predict(x_test)

In [16]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[45  0]
 [ 6 69]]

In [17]:
from sklearn.metrics import classification_report
cr=classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.88      1.00      0.94        45
           1       1.00      0.92      0.96        75

    accuracy                           0.95       120
   macro avg       0.94      0.96      0.95       120
weighted avg       0.96      0.95      0.95       120

In [18]:
from sklearn.metrics import roc_auc_score
roc=roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])
print(roc)

0.9995555555555555

In [19]:
res1=grid.predict([[8,50,4,0,148.112676,46,1,135,3.8,12.518156,38.868902,8408.191126,4.705597,0,0,0,0,1,1,0,0,0,0,0,1,1,0]])
print(res1)

[0]

In [20]:
res2=grid.predict([[28,70,0,0,131,29,0.6,145,4.9,12.518156,45,8600,6.5,0,0,0,0,1,1,0,0,0,0,0,1,0,0]])
print(res2)

[0]

In [21]:
#to save the model
import pickle
filename='KNN classification assignment.sav'
pickle.dump(grid,open(filename,'wb'))

In [22]:
#to load the model
lm=pickle.load(open(filename,'rb'))
result=lm.predict([[28,70,0,0,131,29,0.6,145,4.9,12.518156,45,8600,6.5,0,0,0,0,1,1,0,0,0,0,0,1,0,0]])
print(result)

[0]